<section *ngFor="let destination of destinations">
  <div class="destination-container" [routerLink]="['/destination', destination.id]">
    <div class="destination-image-container">
      <img [src]="destination.image" class="destination-header-image" />
    </div>

    <div class="destination-text-container">
      <h3 class="destination-header-text">
        {{destination.name}}
      </h3>

      <p class="destination-dates-text">
        {{destination.timeOfArrival | date:'dd/MM' }} —
        {{destination.timeOfDeparture | date:'dd/MM' }}
      </p>
    </div>

    <div class="destination-info">
      <p>
        <img src="assets/comment-text-multiple-outline.svg">

        <span>
          {{destination.postsCount}} פוסטים
        </span>
      </p>
      <p>
        <img src="assets/image-multiple-outline.svg">

        <span>
          {{destination.photosCount}} תמונות
        </span>
      </p>
    </div>
  </div>
</section>
