<section *ngFor="let destination of destinations">
  <div class="destination-container" [routerLink]="['/destination', destination.id]">
    <div class="destination-image-container">
      <img [src]="destination.image"
        [ngClass]="destination.timeOfArrival > now ? 'future-destination-image' : 'destination-image'" />
    </div>

    <div class="destination-text-container">
      <h3 class="destination-header-text">
        {{destination.name}}
      </h3>

      <p class="destination-dates-text">
        {{destination.timeOfArrival | date:'dd/MM' }} —
        {{destination.timeOfDeparture | date:'dd/MM' }}
      </p>
    </div>

    <div class="destination-info">
      <p>
        <img src="assets/comment-text-multiple-outline.svg">

        <span>
          {{destination.postsCount}} פוסטים
        </span>
      </p>
      <p>
        <img src="assets/image-multiple-outline.svg">

        <span>
          {{destination.photosCount}} תמונות
        </span>
      </p>
    </div>

    <div class="destination-done-container">
      <p *ngIf="destination.timeOfDeparture < now">
        <fa-icon [icon]="faCheckCircle"></fa-icon>
        עזבתי את היעד
        <app-timestamp-presenter [timestamp]="destination.timeOfDeparture"></app-timestamp-presenter>
      </p>
      <p *ngIf="destination.timeOfArrival < now && destination.timeOfDeparture > now">
        <fa-icon [icon]="faArrowCircleDown"></fa-icon>
        אני כאן עכשיו
      </p>
      <p *ngIf="destination.timeOfArrival > now">
        <fa-icon [icon]="faClock"></fa-icon>
        עוד לא הגעתי לכאן
      </p>
    </div>
  </div>
</section>
