.preview-image {
  width: 100%;
  height: auto;
  border-top: 1px solid #bababa;
  margin: 0;
}

.preview-content {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.preview-content-container {
  margin: 20px;
}

.day {
  display: block;
  font-size: 2.2em;
  font-weight: 700;
  text-align: center;
}

.month {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}

.post-preview-tile-container {
  border: 1px solid #a0a0a0;
  padding: 10px;
  margin: 5%;
}

.preview-date-container {
  background: #158eff;
  color: white;
  padding: 0px 10px;
}

.empty-destination-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 20% 0;
}

.empty-destination {
  margin: 0 5%;
  text-align: center;
}

.empty-destination-container a {
  margin: 10% 5%;
  font-size: 2.5em;
  text-decoration: none;
  color: #0074D9
}
