<div *ngFor="let post of posts">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="post-preview-tile-container"
    [routerLink]="['/destination', destinationId, 'post', post.id]">
    <div class="preview-date-container" fxFlexAlign="stretch" fxLayoutAlign="center center">
      <div>
        <span class="day">
          {{post.uploadTime.seconds * 1000 | date:'dd'}}
        </span>

        <span class="month">
          {{post.uploadTime.seconds * 1000 | date:'MMM' | hebrewMonthName}}
        </span>
      </div>
    </div>

    <div fxFlex="25">
      <img [src]="post.previewImage" class="preview-image" />
    </div>

    <div fxLayout="column" fxFlex="70" class="preview-content-container">
      <div class="preview-content">
        {{post.previewTitle}}
      </div>
    </div>
  </div>
</div>
