.preview-title {
  font-size: 2em;
  font-weight: 700;
}

.preview-subtitle {
  opacity: 0.6;
  font-weight: 400;
}

.preview-image {
  width: 100%;
  height: auto;
  border-top: 1px solid #bababa;
}

.preview-content {
  font-size: 1.8em;
  font-weight: 400;
}
