.preview-title {
  margin: 0;
  font-size: 1.25rem;
}

.preview-subtitle {
  margin: 0;
  opacity: 0.6;
  font-weight: 400;
  font-size: 0.875rem;
}

.preview-image {
  width: 100%;
  height: auto;
}
