html {
  font-size: 125%;
}

body {
  font-family: "Varela Round";
  direction: rtl;
  margin: 0;
  background: #fafafa;

  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

/* earth loading animation */
.planetPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-negative {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.airplane {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: spin 9s linear 0s infinite;
}
