@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: "Varela Round";
  direction: rtl;
  margin: 0;
  background: #fafafa;

  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}
